<h1>News</h1>
<hr/>

<table class="table table-striped table-bordered" ng-repeat="n in news" ng-class="{'selectedRow' : n._id === selectedNews._id }">
    <thead>
    <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Date</th>
    </tr>
    </thead>
    <tbody>

        <tr >
            <td>{{n.title}}</td>
            <td>{{n.author}}</td>
            <td>{{n.date}}</td>
        </tr>
        <tr>
            <td colspan="3">
                {{n.content}}
            </td>
        </tr>

    </tbody>
</table>