<br/>
<header class="intro">
    <h1 class="brand-heading"><span class="light">A R S E N A L</span><hr/>A F C</h1>
</header>
<h/>
<br/>
<br/>
<br/>

<ul class="list-inline banner-social-buttons">
    <a href="http://www.arsenal.com/home" target="_blank" class="btn btn-default btn-lg"><i class="fa fa-futbol-o fa-fw"></i></a>
    <a href="https://twitter.com/Arsenal" target="_blank" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i></a>
    <a href="https://www.facebook.com/Arsenal" target="_blank" class="btn btn-default btn-lg"><i class="fa fa-facebook fa-fw"></i></a>
    <a href="https://www.instagram.com/arsenal/?hl=en" target="_blank" class="btn btn-default btn-lg"><i class="fa fa-instagram fa-fw"></i></a>
    <a href="https://www.youtube.com/user/ArsenalTour" target="_blank" class="btn btn-default btn-lg"><i class="fa fa-youtube fa-fw"></i></a>
    <a href="https://www.reddit.com/r/Gunners/" target="_blank" class="btn btn-default btn-lg"><i class="fa fa-reddit fa-fw"></i></a>
</ul>


